<div id="<%= dom_id recipeshow %>" class="recipe-card">

  <p class="recipe-name"><strong><%= recipee.name %></strong></p>

  <div class="recipe-details">
    <div class="recipe-time">
      <p>Preparation time: <%= recipee.preparation_time %> </p>
      <p>Cooking time: <%= recipee.cooking_time %> </p>
      <p>Procedure: <%= recipee.description %> </p>
    </div>
    <div class="public-checkbox">
      <%= render "checkbox", recipe: recipee %>
    </div>
  </div>
  
  <div class="recipe-buttons">
    <button>Generate Shopping List</button>
    <button>Add Ingredient</button>
  </div>
</div>
