<h1>Food List</h1>

<% if @foods.empty? %>
  <p>No foods added yet.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Measurement Unit</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= number_to_currency(food.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user && current_user.group.members.count < 3 %>
  <%= link_to 'Add New Food', new_food_path %>
<% else %>
  <p>You cannot add new food as your group has three or more members.</p>
<% end %>
