<h1>Food List</h1>

<% if @foods.empty? %>
  <p>No foods added yet.</p>
<% else %>
  <ul>
    <% @foods.each do |food| %>
      <li>
        <%= food.name %> - <%= food.quantity %> <%= food.measurement_unit %> - <%= number_to_currency(food.price) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if current_user && current_user.group.members.count < 3 %>
  <%= link_to 'Add New Food', new_food_path %>
<% else %>
  <p>You cannot add new food as your group has three or more members.</p>
<% end %>
